* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
[class^="box-"] {
    background-color: rgb(67, 101, 118);
    display: grid;
}
  
.container {
    display: grid;
    gap: 1px;
    height: 100vh;;
    grid-template-areas:
        "A B B B  B B B B  B B B B"
        "A B B B  B B B B  B B B B"
        "A B B B  B B B B  B B B B"
        "A B B B  B B B B  B B B B"
        "A B B B  B B B B  B B B B"
        "A B B B  B B B B  B B B B"
        "A B B B  B B B B  B B B B"
        "C C C C  C C C C  C C C C"
  }
  
.box-sidebar {
    font-size: .8em;
    text-decoration: none;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    grid-area: A;
    text-align: center;
    align-content: center;
}

.box-sidebar li a{
    text-decoration: none;
    color: #000;
    justify-items: end;
}


  
.box-content {
    font-size: 36pt;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15%;
    padding-top: 15%;
    grid-area: B;
}
  
.box-footer {
    grid-area: C;
 
}

.box-footer li {
    float: left;
    padding-left: 15px;
    list-style: none;
    position: bottom;
 

}

.box-footer a {
    color: #2f4052;
    font-size: larger;
 
}

#portrait {
    object-fit: cover;
    object-position: 23% 100%;
    border-radius: 200px;

}

.box-sidebar img {
    justify-self: center;

}